body {
  width: 50%;
  margin: 0 auto;
}

header {
  text-align: center;
}

header h1 {
  font-size: 100px;
  color: #0C134F;
  font-weight: 400;
}

input {
  font-size: 20px;
  color: #1D267D;
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid #5C469C;
}

article ul {
  padding-left: 0px;
}

.task {
  background-color: #5C469C;
  padding: 15px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;;
  overflow-x: hidden;
  max-width: 640px;
}

.task span {
  color: #fff;
}

.icon {
  float: right;
  margin-right: 20px;
}

article {
  display: grid;
}

.edit-todo {
  width: 85%;
  font-size: 16px ;
  color: white;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;; 
}

.tab {
  margin: 10px 0 10px 10px;
  padding: 10px;
  font-size: 14px;
  color: #1D267D;
  background-color: #D4ADFC;
  border: none;
  cursor: pointer;
  width: 100px;
  border-radius: 5px;
}

.tab.active {
  color: #fff;
  background-color: #1D267D;
}